@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.chatUserData{
    margin-top: -4px;
    height: 100vh;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.chatUserData img{
    margin-top: 2rem;
    height: 7rem;
    border-radius: 50%;
}

.chatUserData__header{
    color: #2C2E50;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}

.chatUserData__header{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin: .2rem 0;
}

.chatUserData__header--lightTxt{
    font-weight: 100;
}

.chatUserData__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.chatUserData__body button{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background: none;
    border: 0;
    color: #2C2E50;
    /* cursor: default; */
    line-height: normal;
    overflow: visible;
    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatUserData__body button:hover{
    cursor: pointer;
}
.chatUserData__body--On button:hover{
    cursor: pointer;
}

.chatUserData__body--On button{
    margin-top: 3rem;
    width: 100%;
    background: #F2FAFF;
    border: 0;
    color: #2C2E50;
    /* cursor: default; */
    font-family: 'Poppins', sans-serif;
    line-height: normal;
    overflow: visible;
    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
